{{each controller itemViewClass="Pg.LeftBarPlaylistCellView"}}
<div class="buttons">
  <button {{action "addNewPlaylist"}} class="btn btn-default"><i class="icon icon-plus"></i>&nbsp;New</button>
</div>
